@use "styles/utils";

.socials {
    &__title {
        margin-bottom: 15px;
        font: 600 1.4rem var(--inter);
        text-transform: uppercase;
    }

    &__list {
        @include utils.reset-list;
        display: flex;
        align-items: center;
        gap: 14px;
    }

    &__item {
        @include utils.circle(38px);
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid hsla(0, 0%, 5%, .2);
    }
}

@media only screen and (max-width: utils.$tablet1000) {
    .socials {
        gap: 10px;

        &__item {
            @include utils.circle(34px)
        }
    }
}