include layout/utils

-
  var socials = [
    {
      name: 'telegram',
      icon: require('assets/icons/telegram.svg')
    },
    {
      name: 'whatsapp',
      icon: require('assets/icons/whatsapp.svg')
    },
    {
      name: 'youtube',
      icon: require('assets/icons/youtube.svg')
    },
    {
      name: 'vk',
      icon: require('assets/icons/vk.svg')
    },
  ]

mixin socials(props)
  -
    props = Object.assign({
      title: true
    }, props || {})

  .socials
    if props.title
      .socials__title следите за нами в соц сетях:
    ul.socials__list
      each item in socials
        +anchor(class=`social__item-${item.name}`).socials__item
          +img(item.icon)
