@use "styles/utils";

.socials {
  margin: 15px 0 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  gap: 14px;
  align-items: center;

  &__item {
    @include utils.circle(38px);
    border: 1px solid hsla(0, 0%, 5%, .2);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media only screen and (max-width: utils.$tablet1000) {
  .socials {
    gap: 10px;

    &__item {
      @include utils.circle(34px)
    }
  }
}