extends layout/page

append main
    include ui/breadcrumbs/breadcrumbs
    +breadcrumbs(['Главная','Оборудование','Название оборудования'])
    include ui/title/page-title/page-title
    +page-title('Название оборудования')
    include components/content-cover/content-cover
    include components/benefits/benefits
    include components/seo/seo

