@use "styles/utils";

.page-title {
    margin-bottom: 36px;
    h1 {
        font: 600 6.2rem var(--involve);
    }
}

@media only screen and (max-width: utils.$tablet1000) {
    .page-title {
        margin-bottom: 32px;
        h1 {
            font-size: 3.8rem;
        }
    }
}