@use "styles/utils";

.contacts {

    &-content {
        display: flex;
        justify-content: space-between;
    }

    &__info {
        width: 100%;
        max-width: 551px;
        display: flex;
        flex-direction: column;
        gap: 22px;

        &-header {
            margin-bottom: 14px;
            font: 600 3.4rem var(--involve);
        }

        &-block {
            padding-bottom: 22px;
            border-bottom: 1px solid var(--base-gray);
        }

        &-title, .socials__title {
            margin-bottom: 16px;
            font: 500 2.6rem var(--inter);
            text-transform: none;
        }

        &-tel, &-email, &-address {
            display: block;
            font: 500 2rem var(--inter);
        }

        &-tel {
            margin-bottom: 12px;
        }

        &-work-hours {
            margin-bottom: 6px;
            font: 500 1.6rem var(--inter);
            opacity: .7;
        }

        &-address {
            width: 100%;
            max-width: 243px;
        }
    }

    &__contact-title {
        display: block;
        font: 500 1.4rem var(--inter);
        opacity: .7;
    }

    &__map {
        width: 100%;
        max-width: 832px;
        height: 520px;
        overflow: hidden;
        border-radius: 12px;
        filter: grayscale(1) contrast(1.1);
    }

    & ~ .map-form {
        display: none;
    }
}

@media only screen and (max-width: utils.$tablet1000) {
    .contacts {
        &-content {
            flex-direction: column;
        }

        &__contact-title {
            font-size: 1.2rem;
        }

        &__map {
            margin-bottom: 22px;
            order: -1;
        }

        &__info {
            gap: 18px;

            &-block {
                padding-bottom: 18px;
            }

            &-header {
                margin-bottom: 0;
                font-size: 2.6rem;
                line-height: 28px;
            }

            &-title, .socials__title {
                font-size: 2.2rem;
            }

            &-tel, &-email, &-address {
                font-size: 1.6rem;
            }

            &-work-hours {
                font-size: 1.4rem;
            }

            &-address {
                max-width: 100%;
            }
        }
    }
}