@use "styles/utils";

.filter {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__btns-wrapper {
        display: flex;
        gap: 12px;
    }

    &__btn {
        padding: 0 32px;
        height: 44px;
        background-color: var(--base-white);
        border-radius: 4px;
        white-space: nowrap;
        width: fit-content;
        font: 500 1.8rem var(--inter);

        &._active {
            background-color: var(--yellow);
        }

        @include utils.hover {
            background-color: var(--yellow);
        }
    }
}

.media-center {
    margin: 36px 0 0;
    padding: 0;
    list-style-type:none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 18px;

    &__btn {
        margin: 36px auto 0;
    }
}

@media only screen and (max-width: utils.$tablet1000) {
    .filter {
        display: block;

        &__btns {
            @include  utils.transparent-scroll;
            width: 100%;
            overflow: auto;
            border: none;
            padding: 0;
            margin-bottom: 14px;


            &-wrapper {
                display: flex;
                flex-wrap: nowrap;
                overflow: visible;
                gap: 8px;
            }
        }

        &__btn {
            padding: 0 24px;
            height: 38px;
            font-size: 1.4rem;

        }
    }

    .media-center {
        grid-template-columns: 1fr;
        margin-top: 22px;
    }
}