include layout/utils

+section.content-cover
    +img(require('assets/content/sphere4.jpg'))
    h2 описание оборудования
    p Жирмунский, однако, настаивал, что синхрония доступна. Анжамбеман семантически отражает хорей. Представленный лексико-семантический анализ является психолингвистическим в своей основе, но графомания возможна.
    p Подтекст, если уловить хореический ритм или аллитерацию на "р", иллюстрирует культурный размер. Голос персонажа интуитивно понятен. Субъективное восприятие вразнобой нивелирует дольник. Ритмический Подтекст, если уловить хореический ритм или аллитерацию на "р", иллюстрирует культурный размер. Голос персонажа интуитивно понятен. Субъективное восприятие вразнобой нивелирует дольник. Ритмический
    p Подтекст, если уловить хореический ритм или аллитерацию на "р", иллюстрирует культурный размер. Голос персонажа интуитивно понятен. Субъективное восприятие вразнобой нивелирует дольник. Ритмический Подтекст, если уловить хореический ритм или аллитерацию на "р", иллюстрирует культурный размер. Голос персонажа интуитивно понятен. Субъективное восприятие вразнобой нивелирует дольник. Ритмический
    h2 название подзаголовка
    ul
        li Жирмунский, однако, настаивал, что синхрония доступна.
        li Анжамбеман семантически отражает хорей.
        li Представленный лексико-семантический анализ является психолингвистическим в своей основе, но графомания возможна.
    p Подтекст, если уловить хореический ритм или аллитерацию на "р", иллюстрирует культурный размер. Голос персонажа интуитивно понятен. Субъективное восприятие вразнобой нивелирует дольник. Ритмический Подтекст, если уловить хореический ритм или аллитерацию на "р", иллюстрирует культурный размер. Голос персонажа интуитивно понятен. Субъективное восприятие вразнобой нивелирует дольник. Ритмический
    ol
        li Жирмунский, однако, настаивал, что синхрония доступна.
        li Анжамбеман семантически отражает хорей.
        li Представленный лексико-семантический анализ является психолингвистическим в своей основе, но графомания возможна.
    h2 Представленный лексико-семантический анализ является
    ul
        li Жирмунский, однако, настаивал, что синхрония доступна.
        li Анжамбеман семантически отражает хорей.
        li Представленный лексико-семантический анализ является психолингвистическим в своей основе, но графомания возможна.
    ol
        li Жирмунский, однако, настаивал, что синхрония доступна.
        li Анжамбеман семантически отражает хорей.
        li Представленный лексико-семантический анализ является психолингвистическим в своей основе, но графомания возможна.