@use "styles/utils";

.content {

    &__title {
        margin: 70px 0 36px;

        &:not(:has( :is(h2, h3, h4, h5, h6))) {
            margin-bottom: 0;

            & + .content__text {
                position: relative;
                top: -20px;
            }

            span {
                float: none;
                width: 100%;
            }
        }

        &:not(:first-child) {
            margin-top: 60px;
        }

        span {
            float: left;
            margin-top: 13px;
            width: 40%;
            display: block;
            font: 600 1.6rem var(--inter);
            text-transform: uppercase;
            opacity: .7;
        }

        h2 {
            font: 500 4.2rem/1.24 var(--involve);
        }
    }

    &__text {
        margin-left: auto;
        width: 100%;
        max-width: 831px;
    }

    p {
        margin-left: auto;
        padding-right: 243px;
        font: 400 1.8rem/1.33 var(--inter);

        & + & {
            margin-top: 8px;
        }
    }

    img {
        margin: 40px 0;
        width: 588px;
        height: 287px;
        display: block;
        border-radius: 12px;
        object-fit: cover;
        object-position: center;
    }

    ol, ul {
        margin: 0 0 12px auto;
        padding: 0;
        font: 400 1.8rem/1.33 var(--inter);
        opacity: .8;
    }

}

@media only screen and (max-width: utils.$tablet1000) {
    .content {
        &__title {
            margin: 32px 0 22px;

            &:not(:first-child) {
                margin-top: 22px;
            }

            &:not(:has(:is(h2, h3, h4, h5, h6))) + .content__text {
                position: initial;
            }

            span {
                float: none;
                margin-bottom: 14px;
                font-size: 1.2rem;
            }

            h2 {
                font-size: 3rem;
            }
        }

        p {
            padding: 0;
            font-size: 1.4rem;

            & + & {
                padding-top: 6px;
            }
        }

        img {
            margin: 20px 0 40px;
            width: 100%;
            height: 266px;
        }

        ol, ul {
            margin-bottom: 12px;
            padding-left: 20px;
            font-size: 1.4rem;
        }
    }
}