include layout/utils


+section.content
    .content__title
        span заголовок
        h2 Тут нужно прописать главные тезисы о компании. Два-три предложения, чтобы не сломать дизайн-концепцию и нестандартную верстку текста
    .content__text
        p Жирмунский, однако, настаивал, что синхрония доступна. Анжамбеман семантически отражает хорей. Представленный лексико-семантический анализ является психолингвистическим в своей основе, но графомания возможна.
        p Подтекст, если уловить хореический ритм или аллитерацию на "р", иллюстрирует культурный размер. Голос персонажа интуитивно понятен. Субъективное восприятие вразнобой нивелирует дольник. Ритмический
        +img(require('assets/content/content-im.jpg?as=webp'))
    .content__title
        span название подзаголовка
    .content__text
        ul
            li Жирмунский, однако, настаивал, что синхрония доступна.
            li Анжамбеман семантически отражает хорей.
            li Представленный лексико-семантический анализ является психолингвистическим в своей основе, но графомания возможна.
        ol
            li Жирмунский, однако, настаивал, что синхрония доступна.
            li Анжамбеман семантически отражает хорей.
            li Представленный лексико-семантический анализ является психолингвистическим в своей основе, но графомания возможна.