include layout/utils
-
  var options = [
    {
      flagIcon: require('assets/icons/flag_ru.png'),
      mobLang: 'Русский'
    },
    {
      flagIcon: require('assets/icons/flag_en.png'),
      mobLang: 'English'
    }
  ]

.select.select-mobile
  input(type='hidden' value=options[0].lang)
  .select__selected.select-mobile__selected.select-mobile__item
    +img(options[0].flagIcon)
    +wrapBreak: button=options[0].mobLang
  ul.select__list
    each option in options
      li.select__item.select-mobile__item
        +img(option.flagIcon)
        +wrapBreak: button=option.mobLang