@use "styles/utils";

.select {
    border-radius: 4px;
    position: relative;
    background-color: hsla(43, 5%, 84%, 1);
    cursor: pointer;
    width: 249px;
    font: 400 1.8rem/1.33 var(--inter);
    display: inline-block;
    margin-left: 12px;

    &__list {
        margin: 0;
        padding: 0;
        list-style-type: none;
        visibility: hidden;
        position: absolute;
        background-color: inherit;
        left: 0;
        right: 0;
        z-index: 3;

        &._opened {
            visibility: visible;
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
            overflow: hidden;
        }
    }

    &__item {
        padding: 8px 16px;

        @include utils.hover {
            background-color: hsla(43, 43%, 89%, 1);
        }
    }

    &__selected {
        &:not(:is(.select-lang)) {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        img {
            margin-right: 6px;
        }

        &:has(+._opened)::after {
            transform: rotate(180deg);
        }

        &::after {
            @include utils.bg-defaults(contain);
            content: "";
            display: block;
            background-image: url("assets/icons/mark.svg");
            width: 13px;
            height: 6px;
            margin-left: 3px;
        }
    }

    &-lang {
        width: fit-content;
        font: 400 1.4rem var(--inter);

        &__item {
            display: flex;
            align-items: center;
            padding: 7px;

            @include utils.hover {
                background-color: var(--bg-base);
            }
        }
    }

    &-mobile {
        display: none;
        background-color: transparent;
        border-bottom: 1px solid var(--base-gray);
        border-radius: 0;
        font: 400 1.6rem var(--inter);
        width: 100%;

        .select-options {
            border-bottom: 1px solid var(--base-gray);
            padding-left: 28px;
        }

        &__item {
            display: flex;
            align-items: center;
            gap: 8px;
            padding: 12px 0;
        }

        &__selected {
            padding-top: 0;
        }
    }
}

@media only screen and (max-width: utils.$tablet1000) {
    .select {
        font-size: 1.4rem;
        margin-left: 0;

        &-mobile {
            display: block;
        }

        &-lang {
            display: none;
        }

        &-sort {
            width: 211px;
            font-size: 1.4rem;

            &__item {
                padding: 9px 12px;
            }
        }
    }
}


