include layout/utils

-
  var options = [
    'по умолчанию',
    'названию',
    'цене',
    'названию',
  ]

.select.select-sort
  .select__selected.select-sort__selected.select-sort__item
    span=options[0]
  ul.select-options.select-sort__list
    each option in options
      li.select__item.select-sort__item=option