extends layout/page

prepend head
    - title = 'Главная'

append main
    include components/form-section/form-section
    include components/page-hero/page-hero
    +pageHero({
        title: 'Уникальное торговое предложение в две строки',
        banner: require('assets/content/page-hero-banner.jpg?as=webp')
    })
    include components/directions/directions
    include components/spheres/spheres
    +form-section({ variation: 'black' })
    include components/content/content
    include components/benefits/benefits
    include components/projects/projects
    include components/reviews/reviews
    +form-section({ variation: 'light' })
    include components/stages/stages
    include components/blog/blog
    include components/seo/seo
