extends layout/page

append head
    link(href=require('./styles.scss') rel="stylesheet")

append main
    include components/form-section/form-section
    include components/page-hero/page-hero
    +pageHero({
        title: 'Уникальное торговое предложение в две строки',
        img: require('assets/content/page-hero-banner.jpg?as=webp')
    })
    include components/directions/directions
    include components/spheres/spheres
    +form-section({ variation: 'black' })
    include components/content/content
    include components/benefits/benefits
    include components/projects/projects
    include components/reviews/reviews
    +form-section({ variation: 'light' })
    include components/stages/stages
    include components/blog/blog
    include components/seo/seo

append scripts
    script(src=require('./main.ts'))