extends layout/page

prepend head
    - title = 'Главная'

append main
    include components/form-section/form-section
    include components/main-slider/main-slider
    include components/directions/directions
    include components/spheres/spheres
    +form-section({ variation: 'black' })
    include components/content/content
    include components/benefits/benefits
    include components/projects/projects
    include components/reviews/reviews
    +form-section({ variation: 'light' })
    include components/stages/stages
    include components/blog/blog
    include components/seo/seo
