extends layout/page

prepend head
    - title = 'Список оборудования'

append main
    include ui/breadcrumbs/breadcrumbs
    +breadcrumbs(['Главная', 'Главная'])
    include ui/title/page-title/page-title
    +page-title('Оборудование')
    include components/directions/directions
    include components/benefits/benefits
    include components/seo/seo