include layout/utils

+section.main-slider
    .main-slider__wrapper
        +img(require('assets/content/content-im.jpg')).main-slider__banner
        .main-slider__content
            .main-slider__title Заголовок
            +wrapBreak: +anchor.button.button-white.main-slider__button='Подробнее'

