@use "styles/utils";

.arrow {
    @include utils.circle(52px);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--base-black);

    &:active {
        background-color: var(--base-white);
        border-color: transparent;
    }

    &::after {
        @include utils.bg-defaults();
        content: "";
        width: 19px;
        height: 16px;
        display: block;
        background-image: url("assets/icons/arrow.svg");
    }

    &--prev::after {
        transform: rotate(180deg);
    }

    &-animated {
        border-color: hsla(0, 0%, 59%, 1);

        &::after {
            transform: rotate(-45deg);
            transition: transform .3s;
        }

        &--yellow {
            background-color: var(--yellow);
            border-color: transparent;

            @include utils.hover {
                border-color: transparent;
            }
        }
    }
}

@media only screen and (max-width: utils.$tablet1000) {
    .arrow {
        @include utils.circle(44px);
    }
}