include layout/utils

mixin pageHero(props)
    -
        props = Object.assign({
            title: '',
            banner: '',
            btnText: 'Подробнее'
        }, props || {})

    +section.page-hero
        .page-hero__wrapper
            +img(props.banner).page-hero__banner
            .page-hero__content
                .page-hero__title=props.title
                +wrapBreak: button.button.button-white.page-hero__button(data-action='popup' data-popup='call')=props.btnText
