include layout/utils


mixin pageHero(props)
  -
    props = Object.assign({
      title: '',
      banner: ''
    }, props || {})
  +section.page-hero
    .page-hero__wrapper
      +img(props.img).page-hero__banner
      .page-hero__content
        .page-hero__title=props.title
        button.button.button-white.page-hero__button Подробнее