include layout/utils

+section.directions
    .directions__title Направления каталога
    .directions__list
        each _, index in Array(6)
            +anchor.directions__item
                .directions__item-count=`0${index + 1}`
                .directions__item-info
                    .directions__item-name Направление каталога
                        span.directions__item-amount [20]
                    .arrow.arrow-animated.directions__item-arrow

