@use "styles/utils";

.benefits {
    .container {
        display: flex;
        justify-content: space-between;
        gap: 50px;
    }

    .title-wrapper {
        margin-bottom: 36px;
    }

    &__content {
        width: 100%;
        max-width: 590px;
    }

    &__list {
        @include utils.reset-list;
        width: 100%;
        max-width: 590px;
        height: calc(100vh - 80px);
        display: flex;
        flex-direction: column;
        overflow: hidden;
        gap: 16px;

        .swiper-slide {
            height: fit-content;
        }
    }

    .progressbar {
        margin-top: 64px;
    }

    .swiper-progressbar {
        display: none;
    }
}

@media only screen and (max-width: utils.$tablet1000) {
    .benefits {
        .container {
            flex-direction: column;
            gap: 22px;
        }

        .title-wrapper {
            margin-bottom: 22px;
        }

        .progressbar {
            display: none;
        }

        &__list-wrapper {
            margin: 0 -20px;
            padding: 0 20px;
        }

        &__list {
            max-width: initial;
            min-height: 190px;
            height: initial;
            display: flex;
            flex-direction: row;
            overflow: initial;
            gap: 0;

            .swiper-slide {
                height: auto;
            }

            .info-card {
                min-height: initial;
            }
        }

        .swiper-progressbar {
            margin-top: 14px;
            display: block;
        }
    }
}