@font-face {
  font-family: 'Inter';
  src: url('assets/fonts/Inter/Inter-Regular.woff') format('woff'), url('assets/fonts/Inter/Inter-Regular.woff2') format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'Inter';
  src: url('assets/fonts/Inter/Inter-Medium.woff') format('woff'), url('assets/fonts/Inter/Inter-Medium.woff2') format('woff2');
  font-weight: 500;
}

@font-face {
  font-family: 'Involve';
  src: url('assets/fonts/Involve/Involve-Regular.woff') format('woff'), url('assets/fonts/Involve/Involve-Regular.woff2') format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'Involve';
  src: url('assets/fonts/Involve/Involve-Medium.woff') format('woff'), url('assets/fonts/Involve/Involve-Medium.woff2') format('woff2');
  font-weight: 500;
}

@font-face {
  font-family: 'Involve';
  src: url('assets/fonts/Involve/Involve-SemiBold.woff') format('woff'), url('assets/fonts/Involve/Involve-SemiBold.woff2') format('woff2');
  font-weight: 600;
}

